# Node
node_modules/

# Composer
vendor/
/composer.lock

# Environment
.env
.env.*

# Build outputs
/public/storage
/dist

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs and runtime files
/storage/
/storage/*
!storage/.gitignore

# PHPStorm
*.iml

# npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
